{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}
{% block body_block %}
    <h2>Login in TODO aplication</h2>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <label class="login_input">Username:</label>
        <input class="login_input" type="text" name="username" value="" size="50" />
        <br/>
        <label class="login_input" >Password:</label>
        <input class="login_input" type="text" name="password" value="" size="50"/>
        <br/>
        <input class="login_input" type="submit" value="submit"/>
    </form>
{% endblock %}
